.mainBody {
	background-color: white;
	color: black;
}

#actualContent {
    opacity: 1;
}

label {
	color: rgba(0,0,0,.55);
}

input, select {
	background-color: rgba(255,255,255,1);
}

.rowHeader{
	background: white;
}

@import url('https://fonts.googleapis.com/css?family=Fresca|Indie+Flower');

.taskColumn {
    background: white;
}

.taskStart{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid lightgray;
    border-radius: 10px;
}

.PBItaskStart{
    border: 1px solid rgb(0, 156, 204); 
}

.taskTitle{
    font-family: 'Fresca', sans-serif;
    font-size: 120%;
    text-align: center;  
}

.tooltiptext{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid #73AD21;
    border-radius: 10px;

}

.taskRemainingWork{
    font-family: 'Indie Flower', cursive;
    font-size: 120%;
    border-radius: 50%;
    background:lightblue;
    padding-left: 8px;
    padding-right: 8px;
}

.taskDiv > .taskBlocked{
    background:white;
}

.relatedTaskBox > .taskCurrent {
    opacity: 0.5;
}

.relatedTask {
	opacity: 1;
}

.taskDiv > .taskBlocked:after{
    font-size: 110%;
    content: "Blocked !";
    position:absolute;
    top:5px;
    right:-5px;
    padding-left:8px;
    padding-right:8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background:orange;
    transform: rotate(25deg);
}

.taskDiv > .taskOverDue {
    background:white;
}

.taskDiv > .taskOverDue:after{
    font-size: 150%;
    text-align:center;
    content: "Overdue";
    position:absolute;
    bottom:5px;
    right:-5px;
    width:100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background:rgb(255, 121, 121);
    transform: rotate(-5deg);

    border: 1px solid lightgray;
    border-radius: 5px;
}


.taskDiv > .taskDone {
    background:white;
}


.taskDiv > .taskDone:after{
    font-size: 150%;
    text-align:center;
    content: "Done";
    position:absolute;
    bottom:5px;
    right:-5px;
    width:100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background:lightgreen;
    transform: rotate(-5deg);
}

.taskTypeIcon {
    display: block;
}

.sameParent{
    background: bisque;
}

.activeTask{
    border: 1px solid red;
}


.taskDiv .taskStart:before {
    background:transparent;
}


.taskWarning {
    margin-right: 0;
}