.taskColumn {
    background: white;
}
.taskStart {
    margin-left: 5px;
    border-left: 6px solid #f2cb1d;
    border-right: solid #c8c8c8;
    border-top: solid #c8c8c8;
    border-bottom: solid #c8c8c8;
    
    position: absolute !important;
}

.task {
    height: 65px;
    background: white;
}

.taskDiv
{
    height: 70px;
   margin-bottom: 5px;
    margin-top: 5px;
    margin-right: -10px;
}
.taskTable{
    
}
.taskTd
{
    vertical-align: top;
}

.taskTr{
}

.taskTrSpace{
    height: 5px;
}

.taskTrContent{
    background: rgb(242, 242, 242)
}



.taskTdDiv{
    background: #dadada;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-top: 1px;
}

.taskTitle{
    word-wrap: break-word;
    overflow: hidden;
    height: 50px;
    padding-left: 6px;
    padding-right: 2px;
    padding-top: 2px;
}

.openWit:hover{
    text-decoration: underline;
    cursor:pointer;
}

.taskDayOff{
    background:repeating-linear-gradient(  15deg,  #dadada,  rgb(242, 242, 242) 10px,  rgb(242, 242, 242) 10px,  #dadada 20px)
}


.taskOverDue{
    background: rgb(255, 121, 121);
}

.taskBlocked{
    background: orange;
}

.taskDone{
    background: lightgreen;
}

.taskRemainingWork{
    font-weight: bold;
    text-align: right;
    position: absolute;
    right: 1px;
    bottom: -1px;
    padding: 2px;
}

.sameParent{

    background: bisque;
}

.taskToday{
    background: #fff4ce;
}

.taskToday.taskDayOff{
    background:repeating-linear-gradient(  15deg,  #dadada,  #fff4ce 10px,  #fff4ce 10px,  #dadada 20px)
}

.assignedToAvatar{
    height: 30px;
    width: 30px;
}

.assignToColumn{
    width: 100px;
}


.mainBody{
    /*margin: 5px;*/
    overflow: scroll;
}

.alertBadge {
    background-color: red;
    position: absolute;
    right: 5px;
    top: 5px;

    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
}

canvas {
    z-index: 10;
    position: absolute;
    pointer-events: none;
}
    
.rowHeader{
    background: rgb(242, 242, 242);
    padding: 10px;
    height: 100%;
}

.rowHeaderSpace{
    background: white;
    height: 100%;
}

.tooltip {
    display: inline-block;
}

/* Tooltip text */
.tooltiptext {
    visibility: hidden;
    width: calc(100% - 13px);
    
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 5px;
    background: white;
    
    border-right: solid #c8c8c8;
    border-top: solid #c8c8c8;
    border-bottom: solid #c8c8c8;
    
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
    margin-top: -30px;
    margin-right: 27px;

    height: 23px;
    display:flex;
    
}

.tooltiptextPBI{
    border-left: 6px solid rgb(0, 156, 204);
}

.tooltiptextBUG{
    border-left: 6px solid rgb(204, 41, 61);
}


/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.pbiText{
    flex-grow: 1;
    height: 100%;
    width: calc(100% - 100px);
}

.pbiState{
    padding-top: 2px;
    padding-right: 3px;
    padding-left: 3px; 
}

#canvas2{
    opacity: 0;
    transition: opacity 1s;

}


.refreshPlanBtn{

    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}

@keyframes fadein {
    0% { opacity: 0;    }
    49% {        opacity: 0;    }
    50% {        opacity: 1;    }
    100% {        opacity: 1;    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    0% { opacity: 0;    }
    49% {        opacity: 0;    }
    50% {        opacity: 1;    }
    100% {        opacity: 1;    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    0% { opacity: 0;    }
    49% {        opacity: 0;    }
    50% {        opacity: 1;    }
    100% {        opacity: 1;    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    0% { opacity: 0;    }
    49% {        opacity: 0;    }
    50% {        opacity: 1;    }
    100% {        opacity: 1;    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    0% { opacity: 0;    }
    49% {        opacity: 0;    }
    50% {        opacity: 1;    }
    100% {        opacity: 1;    }
}

.taskChanged {
    z-index: 2000;
}

.activeTask{
    border-left: 6px solid red;
    border-right: solid red;
    border-top: solid red;
    border-bottom: solid red;
}