body{
    background-color: var(--background-color,rgba(255, 255, 255, 1));
    color: rgba(var(--palette-neutral-100,0, 0, 0),1);
}

:root{
    --taskOverDue: rgb(255, 121, 121);
    --taskBlocked: orange;
    --taskDone: lightgreen;
    --relatedTaskOpacity: 1;
    --currentTaskOpacity: 0.5;
}

#actualContent {
    opacity: 0;
}

@keyframes fadeinslow {
    0% { opacity: 0;    }
    100% {        opacity: 1;    }
}

.taskColumn {

}

.taskHeader{
    padding-left: 12px;
    padding-top: 2px;
}

.taskStart {
    margin-left: 10px;
    border-right:  1px  solid #c8c8c8;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    position: absolute !important;
    padding-left:5px;
}

.taskStart:before {
    content:"\00a0";
    background:#f2cb1d;
    height:calc(100% + 2px);
    position:absolute;
    width:6px;
    left:0px;
    top: -1px;
}

.PBItaskStart:before {
    background:rgb(0, 156, 204);
}

.task {
    height: 65px;
    background: white;
}

.taskDiv
{
    height: 70px;
    margin-top: 5px;
    margin-right: -10px;
}
.taskTable{
    
}
.taskTd
{
    vertical-align: top;
    background: #f4f4f4;
    border-left: 4px solid white;
}

.taskTr{
}

.taskTrSpace{
    height: 4px;
}

.taskTrContent{
    
}



.taskTdDiv{
}

.taskTitle{
    word-wrap: break-word;
    overflow: hidden;
    height: 50px;
    padding-left: 6px;
    padding-right: 2px;
    padding-top: 2px;
}
.openWit{
    width: 95%;
}

.openWit:hover{
    text-decoration: underline;
    cursor:pointer;
}

.taskDayOff{
    background:repeating-linear-gradient(  15deg,  #dadada,  rgb(242, 242, 242) 10px,  rgb(242, 242, 242) 10px,  #dadada 20px)
}

.relatedTask {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
    background: darkgrey;
    opacity: var(--relatedTaskOpacity);
}

.relatedTaskBox {
    display: inline-block;
    background: white;
    margin-top: -7px;
    margin-left: 3px;
    border-radius: 4px;
    height: 14px;
    padding: 2px;
}

.taskOverDue[style]{
    background: var(--taskOverDue);
}

.taskBlocked[style]{
    background: var(--taskBlocked);
}

.taskDone[style]{
    background: var(--taskDone);
}

.taskCurrent {
    opacity: var(--currentTaskOpacity);
}

.taskOutOfSequence {

}
.taskWarning {
    /*position: absolute;
    top: -12px;
    right: -15px;*/
    float: right;
    margin-top: -10px;
    margin-right: -5px;
    overflow: visible;
}

.taskWarningIcon {
    /*position: absolute;
    top: 0;
    right: 0;*/
    float: right;
    font-size: x-large;
    cursor: help;
    text-shadow: 0 0 5px black;
}

.taskWarning .taskWarningTooltip {
    display: none;
    position: absolute;
    border: solid 1px var(--taskBlocked);
    background: white;
    right: 5px;
    top: 25px;
    z-index: 1001;  /*make it above most things on the page*/
    user-select: none;
    width: fit-content;
    min-width: 260px;
}

.taskWarning .taskWarningTooltip p {
    margin: 5px;
}


.taskWarning:hover .taskWarningTooltip {
    display: block;
}

.taskRemainingWork{
    font-weight: bold;
    text-align: right;
    position: absolute;
    right: 1px;
    bottom: -1px;
    padding: 2px;
}


.taskToday{
    background: #fff4ce;
}

.taskToday.taskDayOff{
    background: repeating-linear-gradient(  15deg,  #dadada,  #fff4ce 10px,  #fff4ce 10px,  #dadada 20px)
}

.assignedToAvatar{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.assignToColumn{
    width: 100px;
}


.mainBody{
    /*margin: 5px;*/
    overflow: scroll;
}

.alertBadge {
    background-color: red;
    position: absolute;
    right: 5px;
    top: 5px;

    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
}

canvas {
    z-index: 10;
    position: absolute;
    pointer-events: none;
}

.rowHeader{
    padding: 10px;
    height: 100%;
    z-index: 30;
}

.rowHeaderSpace{
    height: 100%;
}

.tooltip {
    display: inline-block;
}

/* Tooltip text */
.tooltiptext {
    width: calc(100% - 15px);
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 10px;
    background: white;
    border-right: 1px solid #c8c8c8;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    opacity: 0;
    transition: 0s opacity 0s;
    margin-top: -26px;
    margin-right: 27px;
    height: 23px;
    display: flex;
}

.expandToolTip {
    margin-top: -60px;
    height: 57px;
}


.tooltiptextPBI{
    border-left: 6px solid rgb(0, 156, 204);
}

.tooltiptextBUG{
    border-left: 6px solid rgb(204, 41, 61);
}


/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    opacity: 1;
    transition: 1s opacity 0.3s;
}

.pbiText{
    flex-grow: 1;
    height: 100%;
    width: calc(100% - 100px);
    display: flex;
}

.pbiState{
    padding-right: 3px;
    width: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: normal;
    text-align: right;
}

.relations{
    opacity: 0;
    transition: 0s opacity 0s;
}

.showRelations{
    opacity: 1;
    transition: 1s opacity 0.3s;
}


.refreshPlanBtn{

    margin-top: -5px;

    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;

}

@keyframes fadein {
    0% { opacity: 0;    }
    49% {        opacity: 0;    }
    50% {        opacity: 1;    }
    100% {        opacity: 1;    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    0% { opacity: 0;    }
    49% {        opacity: 0;    }
    50% {        opacity: 1;    }
    100% {        opacity: 1;    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    0% { opacity: 0;    }
    49% {        opacity: 0;    }
    50% {        opacity: 1;    }
    100% {        opacity: 1;    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    0% { opacity: 0;    }
    49% {        opacity: 0;    }
    50% {        opacity: 1;    }
    100% {        opacity: 1;    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    0% { opacity: 0;    }
    49% {        opacity: 0;    }
    50% {        opacity: 1;    }
    100% {        opacity: 1;    }
}

.taskChanged {
    z-index: 20;
}

.activeTask{
    border-right: 1px solid red;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

.activeTask:before{
    background: red;
}



.visual-progress-container {
    position: relative;
    width: 100%;
}

.visual-progress-top-container {
    padding-top: 10px;
}

.visual-progress-underallocated {
    background-color: #107c10;
    height: 18px;
}

.visual-progress-overallocated {
    background-color: #da0a00;
    height: 18px;
}

.visual-progress-total-unallocated {
    background-color: #eaeaea
}


.visual-progress-total {
    border-right: 4px solid #000
}



.showareapath .taskAreaPath1 {
    background:#E0FFFF; 
}
.showareapath .taskAreaPath2 {
    background:#FAFAD2; 
}
.showareapath .taskAreaPath3 {
    background:#90EE90; 
}
.showareapath .taskAreaPath4 {
    background:#87CEFA; 
}
.showareapath .taskAreaPath5 {
    background:#98FB98; 
}
.showareapath .taskAreaPath6 {
    background:#D8BFD8; 
}
.showareapath .taskAreaPath7 {
    background:#FFC0CB; 
}

.showareapath .taskAreaPath8 {
    background:#7FFFD4; 
}

.showareapath .taskAreaPath9 {
    background:#ADD8E6; 
}

.showareapath .taskAreaPath10 {
    background:#F08080; 
}

#tasksTable .sameParent{
    /*background: bisque;*/
    box-shadow: 0 0 20px 4px rgba(81, 203, 238, 1);
    transition: 1s all 0.3s;
}

.taskSaving{
    opacity: 0.5;
}


.messageBoxContainer{
    text-align: center;
    padding: 0;
    margin-top: 144px;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.messageBox{
    border: 1px solid #eaeaea;
    margin: 0 auto;
    text-align: center;
    margin: 0px 50px;
    padding: 40px;
    min-width: 400px;
}

.messageBoxInner{
    display: inline-block;
    text-align: center;
    padding: 0px 20px;
    vertical-align: middle;
}

.options{
    height: 38px;
    width: 100%;
    position: fixed;
    z-index: 1001;
}

.optionsInner{
    border-top: 1px solid rgba(200,200,200,1);
    border-bottom: 1px solid rgba(200,200,200,1);
    margin-left: 10px;
    margin-Right: 10px;
    display: flex;
    width: 100%;
    min-width: 900px;
}
.optionsspace{
    height: 38px;
}

.optionsInner > div {
    padding-top: 8px;
    margin-left: 10px;
}

.optionsInner .alignToLeft{
    margin-left: auto;
    margin-right: 10px;
}


.updateTime{
    padding-left: 4px;
    padding-right: 14px;
}

#settingsRoot {
    display: none;
    padding: 0 25px 0 25px;
}

.sortableListContainer {
    display: flex;
}

.sortableList {
    width: 300px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    min-height: 200px;
}

.sortableList[title]::before {
    content: attr(title);
    /* then add some nice styling as needed, eg: */
    display: block;
    font-weight: bold;
    margin-top: -20px;
    margin-bottom: 20px;
    background: var(--background-color);
    border: 1px grey solid;
    border-radius: 5px;
    padding: 0 5px 0 5px;
    width: fit-content;
}

.sortableList .listItem {
    list-style: none;
    display: flex;
    margin: 7px 7px 15px 7px;
    align-items: center;
    justify-content: flex-start;
}

.listItem .details {
    display: flex;
    align-items: center;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px 13px;
    margin-right: 15px;
    cursor: move;
}

.sortableList .listItem .dragging {
    opacity: 0;
    visibility: hidden;
}