:root{
    --taskOverDue: rgb(255, 121, 121);
    --taskBlocked: orange;
    --taskDone: #0d0; /*darkgreen;*/
    --relatedTaskOpacity: 0.5;
    --currentTaskOpacity: 1;
}

#actualContent {
    opacity: 1;
}

.taskColumn {
    background: var(--background-color);
}

.task {
    background: var(--background-color);
    border-radius: 5px;
}

.taskStart:before {
    border-radius: 5px 0 0 5px;
}

.taskTd
{
    background: var(--border-subtle-color);
    border-left: 4px solid transparent;
}

.taskDayOff{
    background:repeating-linear-gradient(15deg, var(--component-label-default-color-hover), var(--border-subtle-color) 10px, var(--border-subtle-color) 10px, var(--component-label-default-color-hover) 20px);
}

.relatedTask {
    background: darkgrey;
}

.relatedTaskBox {
    background: white;
}

.taskDone[style]{
    background: color-mix(in srgb, var(--taskDone), var(--background-color) 35%);
}

.taskToday{
    background: var(--component-grid-selected-row-color)
}

.taskToday.taskDayOff{
    background: repeating-linear-gradient(15deg, var(--component-label-default-color-hover), var(--border-subtle-color) 10px, var(--border-subtle-color) 10px, var(--component-label-default-color-hover) 20px);
}
.previousDayOff {
    border-left-width: 8px;
}

.previousDayOff::before {
    border: 2px solid var(--background-color);
    border-width: 0 2px;
    content: " ";
    position: absolute;
    height: 100%;
    margin-left: -8px;
    background:repeating-linear-gradient(15deg, var(--component-label-default-color-hover), var(--border-subtle-color) 10px, var(--border-subtle-color) 10px, var(--component-label-default-color-hover) 20px);
    width: 4px;
    z-index: -1
}


.taskWarning .taskWarningTooltip {
    background: var(--background-color);
}

.rowHeader{
	background: var(--background-color);
}

.rowHeaderSpace{
    background: var(--background-color);
}

/* Tooltip text */
.tooltiptext {
    background: var(--background-color);
    border-right: 1px solid #c8c8c8;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
}


.options{
    background: var(--background-color);
}

input, select {
    color: inherit;
}

input::placeholder {
    color: var(--text-disabled-color);
}


.showareapath .taskAreaPath1 {
    background:#e6194B77;
}
.showareapath .taskAreaPath2 {
    background:#f5823177;
}
.showareapath .taskAreaPath3 {
    background:#ffe11977;
}
.showareapath .taskAreaPath4 {
    background:#bfef4577;
}
.showareapath .taskAreaPath5 {
    background:#3cb44b77;
}
.showareapath .taskAreaPath6 {
    background:#42d4f477;
}
.showareapath .taskAreaPath7 {
    background:#4363d877;
}
.showareapath .taskAreaPath8 {
    background:#911eb477;
}
.showareapath .taskAreaPath9 {
    background:#f032e677;
}
.showareapath .taskAreaPath10 {
    background:#a9a9a977;
}

.showParent .task.taskParent1 {
    background-color:#e6194B77;
}
.showParent .task.taskParent2 {
    background-color:#f5823177;
}
.showParent .task.taskParent3 {
    background-color:#ffe11977;
}
.showParent .task.taskParent4 {
    background-color:#bfef4577;
}
.showParent .task.taskParent5 {
    background-color:#3cb44b77;
}
.showParent .task.taskParent6 {
    background-color:#42d4f477;
}
.showParent .task.taskParent7 {
    background-color:#4363d877;
}
.showParent .task.taskParent8 {
    background-color:#911eb477;
}
.showParent .task.taskParent9 {
    background-color:#f032e677;
}
.showParent .task.taskParent0 {
    background-color:#a9a9a977;
}

.showParent .task.taskParent10 {
    --backgroundImage: linear-gradient(45deg, var(--background-color) 25%, transparent 25%, transparent 75%, var(--background-color) 75%, var(--background-color)),
                        linear-gradient(45deg, var(--background-color) 25%, transparent 25%, transparent 75%, var(--background-color) 75%, var(--background-color));
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}
.showParent .task.taskParent20 {
    --backgroundImage: linear-gradient(115deg, transparent 75%, var(--background-color) 75%),
                        linear-gradient(245deg, transparent 75%, var(--background-color) 75%),
                        linear-gradient(115deg, transparent 75%, var(--background-color) 75%),
                        linear-gradient(245deg, transparent 75%, var(--background-color) 75%) ;
    background-size: 15px 30px;
    background-position: 0 0, 0 0,  7px -15px, 7px -15px;
}
.showParent .task.taskParent30 {
    --backgroundImage: linear-gradient(90deg, transparent 50%, var(--background-color) 50%);
    background-size: 20px 20px;
}
.showParent .task.taskParent40 {
    --backgroundImage: linear-gradient(transparent 50%, var(--background-color) 50%);
    background-size: 20px 20px;
}
.showParent .task.taskParent50 {
    --backgroundImage: linear-gradient(90deg, rgba(127,127,127,.5) 50%, transparent 50%),
                        linear-gradient(rgba(127,127,127,.5) 50%, transparent 50%);
    background-size:20px 20px;
}

/* Style for the right-click menu */
.right-click-menu {
    background-color: var(--background-color,rgba(255, 255, 255, 1));
}

.right-click-menu li:hover {
    background-color: var(--border-subtle-color,rgba(255, 255, 255, 1));
}